<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>MEAN Stack 101 | Todo List App</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/angular-material/angular-material.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
    <body ng-controller="TodoController" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
			   <h3>
				 <h2><%= title %></h2>
				 <span class="creator"> By: Randolph Pe Benito</span>
			   </h3>
			 </div>
		</md-toolbar>
		<ng-view></ng-view>
        <script src="/angular/angular.min.js"></script> 
        <script src="/angular-animate/angular-animate.min.js"></script> 
        <script src="/angular-route/angular-route.min.js"></script> 
        <script src="/angular-resource/angular-resource.min.js"></script> 
        <script src="/angular-aria/angular-aria.min.js"></script> 
        <script src="/angular-material/angular-material.min.js"></script> 
        <script src="/angular-utils-pagination/dirPagination.js"></script> 
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 


		<script type="text/ng-template" id="/todos.html">
                <div layout="row">
						<md-input-container class="md-block">
						  <md-icon md-svg-src="/images/search.svg"></md-icon>
						  <input id="search" type="search" ng-model="search.name" placeholder="Search Task">
						</md-input-container>
                </div>
                <div layout="row">
                  <md-card flex-gt-md="50" flex-offset-md="25" flex-offset-gt-md="25">
                  <md-card-content>
                      <h2>My Tasks</h2> 
                      <md-list-item dir-paginate="todo in todos | filter: search | itemsPerPage: 4 as tds" pagination-id="tasks">
                        <md-checkbox ng-model="todo.completed" id="{{$index}}"></md-checkbox>
                        <a ng-show="!editing[$index]" href="#/todo/{{todo._id}}">{{todo.name}}</a>
                        <md-button ng-show="!editing[$index]" class="md-raised md-warn" ng-click="edit($index)">edit</md-button>
                        <md-button ng-show="!editing[$index]" class="md-accent md-raised md-hue-1" ng-click="remove($index)">remove</md-button>
                        <input ng-show="editing[$index]" type="text" ng-model="todo.name">

                        <md-button class="md-fab md-mini md-primary" ng-show="editing[$index]" ng-click="update($index)">
							<md-icon md-svg-src="/images/done.svg" ng-style="{color: white}"></md-icon>
						</md-button>
                        <md-button class="md-fab md-mini" ng-show="editing[$index]" ng-click="cancel($index)">
							<md-icon md-svg-src="/images/close.svg"></md-icon>
						</md-button>
                        <md-divider></md-divider>
                      </md-list-item>
					<span ng-if='tds.length == 0'>No Tasks Found</span>
					<dir-pagination-controls  pagination-id="tasks"></dir-pagination-controls>
					 <form layout layout-align="center" layout-padding>
						<div layout="row" flex>
						  <md-input-container flex class="md-icon-float md-block md-title">
							<label>New Task</label>
							<input type="text" ng-model="newTodo" maxlength="12" md-maxlength="12">
						  </md-input-container>
							<md-button class="md-fab md-hue-2" aria-label="NewTask" ng-click="save()">
								<md-icon md-svg-src="/images/plus.svg"></md-icon>
							</md-button>
						</div>    
					  </form>
                  </md-card-content>
                  </md-card>
                </div>


		</script>
		<script type="text/ng-template" id="/todoDetails.html">
			<div layout="row">
			  <md-card flex="grow" flex-gt-md="30" flex-offset-md="25" flex-offset-gt-md="25">
				  <md-card-content flex="grow">
					<h1>{{ todo.name }}</h1>
					Completed: 
					<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary" ng-model="todo.completed">
					</md-checkbox><br>
					<md-input-container class="md-block">
						<label>Note</label>
						<textarea ng-model="todo.note"></textarea>
					</md-input-container>
					<br><br>
					<md-button class="md-fab md-primary" ng-click="update()">
						<md-icon md-svg-src="/images/done.svg" ng-style="{color: white}"></md-icon>
					</md-button>
					<md-button class="md-fab" ng-click="remove()">
						<md-icon md-svg-src="/images/delete.svg" ng-style="{color: white}"></md-icon>
					</md-button>
					<md-button class="md-fab" ng-href="/#/">
						<md-icon md-svg-src="/images/close.svg" ng-style="{color: white}"></md-icon>
					</md-button>
				  </md-card-content>
			  </md-card>
			</div>
		</script>


		<script>
			angular.module('app', ['ngMaterial', 'ngRoute', 'ngResource', 'ngMdIcons', 'angularUtils.directives.dirPagination',])
                .factory('Todos', ['$resource', function($resource) { 
                    return $resource('/todos/:id', null, {
                        'update': { method:'PUT' }
                    });
				}])
			  	.controller('TodoController', ['$scope', 'Todos', function ($scope, Todos, $mdDialog) {
					$scope.editing = [];
                    $scope.todos = Todos.query();

					$scope.save = function() {
						if(!$scope.newTodo || $scope.newTodo.length < 1) return;
						var todo = new Todos({ name: $scope.newTodo, completed: false });
						todo.$save(function(){
						  $scope.todos.push(todo);
						  $scope.newTodo = ''; // clear textbox
						});
  				  	}
					$scope.update = function(index){
						var todo = $scope.todos[index];
						Todos.update({id: todo._id}, todo);
						$scope.editing[index] = false;
					}
				    $scope.edit = function(index) {
						$scope.editing[index] = angular.copy($scope.todos[index]);
				    }
				    $scope.cancel = function(index) {
						$scope.todos[index] = angular.copy($scope.editing[index]);
						$scope.editing[index] = false;
				    }
					$scope.remove = function(index){
					    var todo = $scope.todos[index];
					    Todos.remove({id: todo._id}, function(){
					    	$scope.todos.splice(index, 1);
					    });
				  	}

				}])
				.controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', '$location', 
					function ($scope, $routeParams, Todos, $location) {
						$scope.todo = Todos.get({id: $routeParams.id });
						$scope.remove = function(){
							Todos.remove({id: $scope.todo._id}, function(){
								$location.url('/');
							});
						}
					 	$scope.update = function(){
							Todos.update({id: $scope.todo._id}, $scope.todo, function(){
      							$location.url('/');
    						});
  						}
				
					}
    		    ])

				.config(['$routeProvider', function ($routeProvider) {
					$routeProvider
						.when('/', {
							templateUrl: '/todos.html',
							controller: 'TodoController'
				  		})
						.when('/todo/:id', {
							templateUrl: '/todoDetails.html',
							controller: 'TodoDetailCtrl'
					    });
				}]);
		</script>

  </body>
</html>
